version: '3.8'

services:
  traefik:
    image: traefik:v3.6.5
    container_name: traefik
    restart: unless-stopped
    command:
      - --log.level=INFO
      - --accesslog=true
    networks:
      - traefik
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - /etc/traefik/dynamic.yml:/etc/traefik/dynamic.yml:ro
      - /etc/traefik/certs:/etc/traefik/certs

networks:
  traefik:
    external: true
    name: traefik